<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OLDA BLOG</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet"  href="estatico/css/main.css">
  	<!--trying-->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/css/formValidation.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  	<script type="text/javascript" src="estatico/js/helper_vars.js"></script>
  	
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="menu">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">OLDA BLOg</a>
					{% if login %}
						<a href="/newpost" class="btn btn-primary navbar-btn btn-sm">New Post&nbsp <span class="glyphicon glyphicon-pencil"></span></a>
					{% endif %}
				</div>
				<div class="navbar-collapse collapse navbar-t" id="menu">
					<ul class="nav navbar-nav navbar-right" role="navigation">
						<li><a href="/">Home</a></li>
						{% if login %}
						<li>
							<div class="btn-group">
								
								<button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa fa-user fa-fw"></i>{{username}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="/dashboard">
										<i class="fa fa-pencil-square-o fa-fw"></i>Admin Panel</a>
									</li>
									<li><a href="#">
										<i class="fa fa-cog fa-fw"></i>Settings</a>
									</li>
									<li role="separator" class="divider"></li>
									<li><a href="/logout" id="logout">
										<i class="fa fa-sign-out fa-fw"></i>Logout</a>
									</li>
								</ul>

							</div>
						</li>
						{% endif %}
						{% if not login %}
							<li><a href="#" data-toggle="modal" data-target="#login">Log In</a></li>
							<li><a href="#" data-toggle="modal" data-target="#signup">Sign Up</a></li>
						{% endif %}
						<li><a href="#">About</a></li>
					</ul>
				<div>
			</div>
		</nav>
	</header>
	{% if not login %}
		<!--Aqui empieza el modal log in -->
			{% include "login.html" %}
		<!--Aqui acaba-->
		<!--Aqui empieza el modal de sign up-->
			{% include "signup.html" %}
		<!--Aqui acaba-->
	{% endif%}
	<div class="container">
		{% block contenido %}
		{% endblock %}
		
	</div>
	<footer class="footer">
		<div class="container">
			<hr>	
			<p class="text-right col-xs-6">
				Created By Ordanis<br>Sanchez
			</p>
			<div class="btn-group col-xs-6">
				<a href="https://www.facebook.com/ordani" target="_blank" class="btn btn-default"><i class="fa fa-facebook-square"></i></a>
				<a href="https://github.com/oldani" target="_blank" class="btn btn-default"><i class="fa fa-github"></i></a>
				<a href="https://plus.google.com/+OrdaniSanchez" target="_blank" class="btn btn-default"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</footer>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!--trying-->
	{% if not login %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/formValidation.min.js"></script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/framework/bootstrap.min.js"></script>
  	<script type="text/javascript" src="estatico/js/validador.js"></script>
  	{% endif %}
	

	<script type="text/javascript">
		$(document).ready(function(){
			{% if not login %}
			validarForms();
			$("#login").on("hidden.bs.modal", function(){
				$("#loginForm").formValidation('resetForm', true);
			});
			$("#signup").on("hidden.bs.modal", function(){
				$("#signupForm").formValidation("resetForm", true);
			});
			{% endif %}
			{% if login %}
			$("#logout").click(function(e){
				e.preventDefault();
				$.get("/logout", function(){
					window.location.reload();
				});
			});

			{% endif %}
			
			
		});	
	</script>	
</body>
</html>