<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="widht=device-width, initial-scale=1.0">
	<title>OLDA BLOG</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet"  href="/estatico/main.css">
	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  	<script>tinymce.init({ selector:'textarea' });</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>




</head>
<body>

	<header>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="menu">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">OLDA BLOg</a>
					{% if login %}
						<a href="/newpost" class="btn btn-primary navbar-btn btn-sm">New Post <span class="glyphicon glyphicon-pencil"></span></a>
					{% endif %}
				</div>
				<div class="navbar-collapse collapse" id="menu">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						{% if not login %}
							<li><a href="#">Log In</a></li>
							<li><a href="#">Sign Up</a></li>
						{% endif %}
						<li><a href="#">About</a></li>
					</ul>
				<div>
			</div>
		</nav>
	</header>

	<div class="container">
		{% block contenido %}
		{% endblock %}
		<hr>
		<footer class="row">	
			<p class="text-right col-xs-6">
				Created By Ordanis<br>Sanchez
			</p>
			<div class="btn-group col-xs-6">
				<a href="https://www.facebook.com/ordani" target="_blank" class="btn btn-default"><i class="fa fa-facebook-square"></i></a>
				<a href="https://github.com/oldani" target="_blank" class="btn btn-default"><i class="fa fa-github"></i></a>
				<a href="https://plus.google.com/+OrdaniSanchez" target="_blank" class="btn btn-default"><i class="fa fa-google-plus"></i></a>
			</div>
		</footer>

	</div>
	
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
</body>
</html>