<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OLDA BLOG</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet"  href="estatico/main.css">
	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  	<script>tinymce.init({ selector:'textarea' });</script>
	
  	<!--trying-->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/css/formValidation.min.css">
  	<link rel="stylesheet" type="text/css" href="">
  	
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="menu">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">OLDA BLOg</a>
					{% if login %}
						<a href="/newpost" class="btn btn-primary navbar-btn btn-sm">New Post <span class="glyphicon glyphicon-pencil"></span></a>
					{% endif %}
				</div>
				<div class="navbar-collapse collapse" id="menu">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						{% if not login %}
							<li><a href="#" data-toggle="modal" data-target="#login">Log In</a></li>
							<li><a href="#" data-toggle="modal" data-target="#signup">Sign Up</a></li>
						{% endif %}
						<li><a href="#">About</a></li>
					</ul>
				<div>
			</div>
		</nav>
	</header>
	{% if not login %}
		<!--Aqui empieza el modal log in -->
			{% include "login.html" %}
		<!--Aqui acaba-->
		<!--Aqui empieza el modal de sign up-->
			{% include "signup.html" %}
		<!--Aqui acaba-->
	{% endif%}
	<div class="container">
		{% block contenido %}
		{% endblock %}
		<hr>
		<footer class="row">	
			<p class="text-right col-xs-6">
				Created By Ordanis<br>Sanchez
			</p>
			<div class="btn-group col-xs-6">
				<a href="https://www.facebook.com/ordani" target="_blank" class="btn btn-default"><i class="fa fa-facebook-square"></i></a>
				<a href="https://github.com/oldani" target="_blank" class="btn btn-default"><i class="fa fa-github"></i></a>
				<a href="https://plus.google.com/+OrdaniSanchez" target="_blank" class="btn btn-default"><i class="fa fa-google-plus"></i></a>
			</div>
		</footer>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!--trying-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/formValidation.min.js"></script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/framework/bootstrap.min.js"></script>
	

	<script type="text/javascript">
		$(document).ready(function(){
			$("#signupForm").formValidation({
				framework:"bootstrap",
				
				
				fields: {
					username: {
						validators: {
							regexp: {
								regexp:/^[\w\-\.]{4,12}$/,
								message: "The username most be more than 4 and less than 12 characters long"
							}
						}
					},
					password: {
						validators: {
							regexp: {
								regexp:/(?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9])\S{6,}$/,
								message:"Your Password must have at least of 1 Lowercase, 1 Uppercase letters and 1 number"
							}
						}
					},
					verify: {
						validators: {
							identical: {
								field: "password",
								message: "Your password did not match"
							}
						}
					},
					correo: {
						validators: {
							
							regexp: {
								regexp: /^[\S]+@[\S]+\.[\S]+$/,
								message:"Please enter a valid Email"
							}
						}
					}
					
				}
				
			});
			
		});
		
	</script>	
</body>
</html>