{% extends "base.html" %}
{% block contenido %}
	<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
	<script>
		tinymce.init({ 
			selector: 'textarea',
  			height: 500,
  			plugins: [
				'advlist autolink lists charmap print preview anchor',
    			'searchreplace code',
    			'insertdatetime table contextmenu paste code'
  			],
  			toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
  			content_css: [
   				'//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
   				 '//www.tinymce.com/css/codepen.min.css'
  			],
  			element_format : 'html',
  			menubar: false,
			statusbar: false,
			invalid_elements:"img"
		});
  	</script>
  	<div class="row">
  		<div class="col-xs-12">
			<nav class="navbar navbar-default navbar-static-top" style="margin-top:10px; padding-top:5px">
				<div class="container">
					<ul class="nav nav-pills">
	  					<li role="presentation">
	  						<a href="/">Home</a>
	  					</li>
	 					<li role="presentation">
	 						<a href="#">About Us</a>
	 					</li>
	  					
					</ul>

				</div>
			</nav>
		</div>
		<div class="col-xs-12">
			<h2>Write your Post Here!</h2>
		</div>
  	</div>
	<form method="post">
		<div class="row">
			<div class="form-group col-xs-9 col-sm-6">
				<label>Title</label>
				<input type="text" name="title" class="form-control" value={{titulo}}>	
			</div>
			<div class="form-group col-xxs-4 col-xs-4 col-sm-3 col-md-2 col-lg-2">
				<label>Topic</label>
				<select class="form-control" name="topic">
					<option>Choose one..</option>
					<option>Programing</option>
					<option>Science</option>
					<option>Technology</option>
					<option>News</option>
					<option>Games</option>
					<option>Culture</option>
					<option>Sports</option>

				</select>

			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-10">
				<label>Post</label>
				<textarea name="post" placeholder="Your Post Here" class="form-control" rows="10">{{post}}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-sm-5 col-md-4 col-lg-4">
				{% if error %}
					<div class="alert alert-danger alert-dismissible" role=" alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{error}}
					</div>
				{% endif %}
			</div>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
		



	</form>

	

{% endblock %}
