{% extends "base.html" %}
{% block contenido %}
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<section>
				{% for cadaPost in entradas %}
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
							<div class="row">
								<div class="col-xs-9">
									<h3>
										<a class="text-uppercase links-post text-left" href="/{{cadaPost.key.integer_id()}}">{{cadaPost.title}}
										</a>
										
									</h3>
								</div>
								<div class="col-xs-3">
									<h5 class="text-right vertical-al-div"><i class="fa fa-bookmark fa-fw"></i>{{cadaPost.topic}}</h5>
								</div>
							</div>
							<hr class="hr-post">
							<div class="row>">
								<h6 class="text-right">
									<i class="fa fa-user"></i> {{cadaPost.user}} &nbsp
									<i class="fa fa-calendar"></i> {{cadaPost.fecha_creacion.strftime("%b-%d-%Y")}}
								</h6>
								<div class="text-justify">
									{{cadaPost.post |safe|truncate(1500, True)}}
								</div>
								{% if cadaPost.post|length >1500 %}
								<a href="/{{cadaPost.key.integer_id()}}">Continue reading...</a>
								{% endif %}
							</div>

						</div>
					</div>
				{% endfor %}					
			</section>
		</div>
		<div class="hidden-xs hidden-sm col-md-3 col-md-offset-1">
			<aside>
				<div class="row">
					<div class="col-md-9 col-md-offset-1 margi-top">
						<div class=" panel panel-info">
							<div class="panel-heading">
								<h5 class="panel-title">Filter by:</h5>
							</div>
							<div class="list-group">
								<button type="button" class="list-group-item active" data-filter="reciente">Recently</button>
								<button type="button" class="list-group-item" data-filter="popular">Most Popular</button>
								<button type="button" class="list-group-item" data-toggle="collapse" data-target="#topics">Topic</button>
								<div class="collapse" id="topics"> 
									<button type="button" class="list-group-item" data-filter="Programing">Programing
										<span class="badge">{{topics.Programing}}</span>
									</button>
									<button type="button" class="list-group-item" data-filter="Technology">Technology
										<span class="badge">{{topics.Technology}}</span>
									</button>
									<button type="button" class="list-group-item" data-filter="Science">Science
										<span class="badge">{{topics.Science}}</span>
									</button>
									<button type="button" class="list-group-item" data-filter="News">News
										<span class="badge">{{topics.News}}</span>
									</button>
									<button type="button" class="list-group-item" data-filter="Culture">Culture
										<span class="badge">{{topics.Culture}}</span>
									</button>
									<button type="button" class="list-group-item" data-filter="Games">Games
										<span class="badge">{{topics.Games}}</span>
									</button>
									<button type="button" class="list-group-item" data-filter="Sports">Sports
										<span class="badge">{{topics.Sports}}</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</aside>			
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".list-group").on("click", "button", function(){
				data=$(this).data("filter")
				var activeClass="active"
				$(".active").removeClass(activeClass)
				$(this).addClass(activeClass)
				if (data) {
					$.ajax({
						url:"/filter",
						method: "GET",
						data: "filtro="+data,
						dataType: "json",
						success: function(data){
							if (!data){
								alert("Sorry we do not have any post about this topic yet, so why to not"+
									     " make the first post about this!");
							} else {
								$("section").html(data).slideDown();
							};

						},

					});
				};
			});
		});

	</script>
{% endblock %}
		