{% extends "base.html" %}
{% block contenido %}

	<div class="row">
		<div class="col-xs-12 col-md-8">
			<section>
				
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
						
						<h3 class="text-uppercase">{{post.title}}</h3>
						<hr>
						<h6 class="text-right"><i class="fa fa-user"></i>{{post.user}} &nbsp<i class="fa fa-calendar"></i> {{post.fecha_creacion.strftime("%b-%d-%Y")}}</h6>
						<p class="text-justify">{{post.post | safe}}</p>

					</div>
				</div>
									
			</section>

		</div>
		<div class="hidden-xs hidden-sm col-md-3 col-md-offset-1" style="background-color:red">
			<aside>
				<p>GEUl lh olh</p>
				<h3>HOLAAA</h3>
			</aside>			
		</div>
	</div>

{% endblock %}